html {
    height: 100%;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

body {
    height: 100%;
    min-height: 35rem;
    position: relative;
    font-family: 'Source Sans Pro';
    font-weight: 300;
}

.overlay {
    position: absolute;
    height: 100%;
    min-height: 35rem;
    width: 100%;
    background-image: url("../img/logos/beach_bkgd.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

.overlay2 {
    position: absolute;
    height: 100%;
    min-height: 35rem;
    width: 100%;
    background-image: url("../img/travel/travel2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}

.container_schedule {
    margin-top: 40px;
}

@media (min-width: 768px) {
    .overlay {
        min-height: 0;
    }
}

.masthead {
    position: absolute;
    overflow: hidden;
    padding-bottom: 3rem;
}

.masthead .masthead-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    right: 55%;
    width: 100%;
    min-height: 35rem;
    height: 100%;
    background-color: #212529;
    opacity: 0.85;
    transform: skewY(4deg);
    transform-origin: bottom right;
}

.masthead .masthead-content h1 {
    font-size: 2.5rem;
}

.masthead .masthead-content p {
    font-size: 1.2rem;
}

.masthead .masthead-content p strong {
    font-weight: 700;
}

.masthead .masthead-content .input-group-newsletter input {
    font-size: 1rem;
    padding: 1rem;
}

.masthead .masthead-content .input-group-newsletter button {
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem;
}

@media (min-width: 768px) {
    .masthead {
        height: 100%;
        min-height: 0;
        width: 40.5rem;
        padding-bottom: 0;
    }
    .masthead .masthead-bg {
        min-height: 0;
        transform: skewX(8deg);
        transform-origin: top right;
    }
    .masthead .masthead-content {
        padding-left: 3rem;
        padding-right: 10rem;
    }
    .masthead .masthead-content h1 {
        font-size: 3.5rem;
    }
    .masthead .masthead-content p {
        font-size: 1.3rem;
    }
}

.btn-secondary {
    background-color: #cd9557;
    border-color: #cd9557;
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
    background-color: #ba7c37 !important;
    border-color: #ba7c37 !important;
}

.input {
    font-weight: 300 !important;
}

p {
    color: #fdb515;
    text-align: center !important;
}

.form-signin .form-control {
    height: 25px !important;
    width: 380px !important;
    font-size: 14px !important;
}

.signup,
.signin {
    margin: auto;
    width: 200px;
}

.schedule-align{
    margin-top:150px;
   
}

.schedule{
    font-family: "Montserrat",'Helvetica Neue',Helvetica,Arial,sans-serif;
    /* background-color: #212529; */
}
